MONGO_USERNAME=""
MONGO_PASSWORD=""

SERVER_PORT="3000"

FOOTBALL_DATA_API_KEY=""
FOOTBALL_DATA_BASE_URL="https://api.football-data.org/v4"
FOOTBALL_DATA_COMPETITION="WC"

FIREBASE_SERVICE_ACCOUNT='{"type":"service_account","project_id":"...","private_key":"...","client_email":"..."}'
