table {
  width: auto;
}

table td, table th {
  padding: 0 5px;
  font-weight: 500;
}


img {
  width: 12px;
  height: 12px;
  border-radius: 75%;
  border: 1px solid #555;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.make-red {
  background-color: #B00020;
  font-weight: 300;
  opacity: .6;
}
